.nav-top h2 {
    font-size: 30px;
    margin-left: 50px;
}
.addstory {
    position: absolute;
    right: 10px;
    width: 136px;
    height: 45px;
    background-color: #FF7373;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.bookmark {
    position: absolute;
    right: 200px;
    width: 136px;
    height: 45px;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF7373;
    color: rgb(22, 22, 22);
    border-radius: 20px;

}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 682px;
    height: 538px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 10000;
}

.popup-content img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;

}

.popup-content img:hover {
    background-color: rgb(102, 49, 180);
}

input {
    border: 1px solid rgb(134, 130, 130);
    outline: none;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
    background-color: #fff;
    border: 1px solid #74a2d2;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.post {
    border: none;
    outline: none;
    width: 129px;
    height: 45px;
    background-color: #73ABFF;
    border-radius: 20px;
    font-size: 18px;
    margin: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.slide-num {
    padding: 20px;
}

.slide-num span {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #7c7f83;
    margin: 5px;
}

.story-content {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.category {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.category a {
    display: inline-block;
    top: 100px;
    border: none;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: transparent;
    padding: 10px 20px;
    color: #fff; 
    font-size: 16px;
    cursor: pointer; 
    width: 190px;
    height: 190px;
    border-radius: 30%;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    
  }
  
  .all {
    background-image: url("/public/images/all.jpg"); 
    background-size: cover;
    
  }
  .food{
    background-image: url("/public/images/images.jpg"); 
    background-size: cover;
    
  }
  .hf{
    background-image: url("/public/images/download.jpg"); 
    background-size: cover;
    
  }
.travel{
    background-image: url("/public/images/travel2.jpg"); 
    background-size: cover;
}
.movie {
    background-image: url("/public/images/movie.jpg"); 
    background-size: cover;
}
.edu {
    background-image: url("/public/images/edu1.jpg"); 
    background-size: cover;
}
.option  {
    border: 1px solid rgb(134, 130, 130);
    outline: none;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.option input {
    margin: 20px;
}
.main{
    font-size: 45px;
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}